body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(#141e30, #243b55);
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.login-box {
	width: 280px;
	color: white;
}

.login-box h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}

.login-box input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	color: white;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
}
